In [4]:
import pandas as pd
import os

In [5]:
# Set the working directory
directory = "c:\\Users\\PC\\Documents\\Tue course\\Visualization\\Project"
os.chdir(directory)

In [6]:
# Read the data set 
df = pd.read_csv("data/airbnb_open_data.csv")

c:\Users\PC\AppData\Local\Programs\Python\Python39\lib\site-packages\IPython\core\interactiveshell.py:3397: DtypeWarning: Columns (25) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
# List of attributes
list(df.columns)

['id',
 'NAME',
 'host id',
 'host_identity_verified',
 'host name',
 'neighbourhood group',
 'neighbourhood',
 'lat',
 'long',
 'country',
 'country code',
 'instant_bookable',
 'cancellation_policy',
 'room type',
 'Construction year',
 'price',
 'service fee',
 'minimum nights',
 'number of reviews',
 'last review',
 'reviews per month',
 'review rate number',
 'calculated host listings count',
 'availability 365',
 'house_rules',
 'license']

## Investigate missing data values, and relations, or measurement errors

- **id**: Airbnb's unique identifier for the listing
- **NAME**: name of the host 
- **host id**: Airbnb's unique identifier for the host/user
- **host_identity_verified**:
- **host name**:
- **neighbourhood group**: Group of neighbourhood - Kinda geo-system in America
- **Neighbourhood**: exact neighboorhood
- **lat**: katitude 
- **long**: longtitude 
- **country**:
- **country code**:
- **instant_bookable**: it is instant-bookable or not
- **cancellation_policy**: strict/moderate/flexible/nan
- **room type**: 
- **Construction year**:
- **price**:
- **service fee**:
- **minimum nights**: 
- **numbe of reviews**:
- **last review**: The date of the last/newest review
- **review per month**: The number of reviews the listing has over the lifetime of the listing
- **review rate number**:
- **calculated host listings count**: The number of listings the host has in the current scrape, in the city/region geography.
- **availability 365**: The availability of the listing x days in the future as determined by the calendar. Note a listing may not be available because it has been booked by a guest or blocked by the host.
- **house_rules**: text 
- **license**: The licence/permit/registration number

In [9]:
# Data type and Non-Null Count 
df.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object

In [16]:
# Non-Null Count 
df.apply(lambda col: sum(col.isnull()), axis=0)

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [24]:
df[['last review']]

       last review
0       10/19/2021
1        5/21/2022
2              NaN
3         7/5/2019
4       11/19/2018
...            ...
102594         NaN
102595    7/6/2015
102596         NaN
102597  10/11/2015
102598         NaN

[102599 rows x 1 columns]

## Conclusion

There are a hella lots of NaN values in *last review*, *reviews per month*, *review rate number*, *house_rules*, *licenses*. Basically, the optional information of the places are usually not included by the host. There are a couple ways to deal with this:
- Deleting Rows with missing values
- Impute missing values for continuous variable: using mean or median
- Impute missing values for categorical variable: using the highest frequency label
- Other Imputation Methods: Last observation carried forward (LOCF), 
- Prediction of missing values: Using model to predict the missing values -> we probably not gonna do this but I can do it if we have time

**Still we need to envision what the general tools and the goals/tasks-action look like first. Then choosing the attributes.**

Here is the source: https://towardsdatascience.com/7-ways-to-handle-missing-values-in-machine-learning-1a6326adf79e