In [1]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("../jupyter_notebook/listings.csv");

In [11]:
# Review
df[[
        'review_scores_communication', 
        'review_scores_rating', 
        'review_scores_checkin', 
        'number_of_reviews_ltm',
        'reviews_per_month',
        ]]

,review_scores_communication,review_scores_rating,review_scores_checkin,number_of_reviews_ltm,reviews_per_month
0,5.00,4.89,5.00,0,0.11
1,4.80,4.68,4.77,1,0.31
2,4.91,4.52,4.91,0,0.31
3,5.00,4.42,4.82,0,0.10
4,5.00,5.00,5.00,1,0.03
...,...,...,...,...,...
39876,5.00,4.91,4.97,11,1.22
39877,4.96,4.79,5.00,33,2.12
39878,4.36,4.45,4.64,1,0.50
39879,NaN,NaN,NaN,0,NaN
39880,4.73,4.47,4.67,4,0.91

In [16]:
df.accommodates

count    31519.000000
mean         1.244733
std          1.991702
min          0.010000
25%          0.140000
50%          0.560000
75%          1.790000
max        123.000000
Name: reviews_per_month, dtype: float64

In [35]:
df.price[0]

str